<html ng-app xmlns="http://www.w3.org/1999/html">
    <head>
        <script src="angular.min.js"></script>
        <script>
            function FiltrosCtrl($scope) {
                $scope.rotas = [ { destino: 'Londrina', hora: '10:00' },
                    { destino: 'Arapongas', hora: '23:00' },
                    { destino: 'Aracaju', hora: '11:00'
                }]
            }

        </script>
    </head>
    <body>
        <!--<div class="container" ng-controller="FiltrosCtrl">-->
            <!--Busca: <input type="input" ng-model="pesquisa.hora"/><br>-->
            <!--<h1>Rotas</h1>-->
            <!--<div ng-repeat="rota in rotas | filter:pesquisa">-->
                <!--{{rota.destino}} | {{rota.hora}}-->
            <!--</div>-->
        <!--</div>-->
        <div class="container" ng-controller="FiltrosCtrl">
            Busca: <input type="input" ng-model="pesquisa.hora"/><br>
            <h1>Rotas</h1>
            Ordem: <button ng-click="reverso = true">Reverso</button> |
            <button ng-click="reverso = false"/>Normal</button>
            <div ng-repeat="rota in rotas | filter:pesquisa
            | orderBy:'+destino':reverso">
                {{rota.destino}} | {{rota.hora}}
            </div>
        </div>
    </body>

</html>
